= wrap_layout :layout do
  - set_meta_tags "og:type": "article" 
  - current_url = "https://www.cowholio4.com#{current_page.url}"
  - current_image = "https://www.cowholio4.com#{image_path(current_page.data.pull_image)}"
  - logo_image = "https://www.cowholio4.com#{image_path('logo.png')}"
  .max-w-3xl.mx-auto.px-4
    section.mt-5
      artice.card.bg-base-100.shadow-sm itemprop="mainEntity" itemscope=true itemtype="http://schema.org/BlogPosting"
        link itemprop="mainEntityOfPage" href=current_url
        span itemprop="publisher" itemscope=true itemtype="https://schema.org/Organization"
          meta itemprop="name" content="Cowholio4"
          /span itemprop="logo" itemscope=true itemtype="https://schema.org/ImageObject"
            meta itemprop="url" content=logo_image
            meta itemprop="width" content="144"
            meta itemprop="height" content="60"
        span itemprop="author" itemscope=true itemtype="https://schema.org/Person"
          meta itemprop="name" content=current_article.data.author
        - if current_article.data.ai_model
          meta itemprop="creativeWorkStatus" content="Written with the assistance of #{current_article.data.ai_model}"
        .card-body
          h1.card-title.text-2xl itemprop="headline"
            a href=current_url =current_article.title
          - if current_article.data.category
            a.badge.badge-outline.mt-2 href=category_path(current_article.data.category) =current_article.data.category
          .text-base-content/70.text-sm.mt-1
            time itemprop="datePublished" datetime=current_article.date.strftime('%Y-%m-%e') pubdate="pubdate" =current_article.date.strftime('%b %e, %Y')
            - if current_article.data.author
              | &nbsp;&middot; By #{current_article.data.author}
            - if current_article.data.ai_model
              | &nbsp;&middot; Written with #{current_article.data.ai_model}
          meta itemprop="dateModified" content=current_article.date.strftime('%Y-%m-%e')
          meta itemprop="dateCreated" content=current_article.date.strftime('%Y-%m-%e')
          /meta itemprop="image" content=current_image
          - if current_article.data.archived?
            .alert.alert-warning.mt-4.text-center This blog entry is archived. This means it's probably outdated.
          div class="prose prose-lg max-w-[70ch] mt-4"
            ==yield
          = partial "share_buttons", locals: { share_url:current_url, share_title: current_article.title}
