---
title: Facebook Graph API Profile Pictures in Alternate Sizes
author: Jason Pope
date: 2012-08-22 19:03 PST
category: Development
archived: true
description: "FB"
---
p Now you can get custom sized images from the Facebook graph api. 

| SPLIT_SUMMARY_BEFORE_THIS
.grid.grid-cols-1.sm:grid-cols-2.gap-4
  .card.bg-base-100.shadow-sm
    .card-body.text-center
      h2.card-title.justify-center Normal Photo
      p https://graph.facebook.com/cowholio4/picture
      img.max-w-full.h-auto.mx-auto src="https://graph.facebook.com/cowholio4/picture"

  .card.bg-base-100.shadow-sm
    .card-body.text-center
      h2.card-title.justify-center Large Photo
      p
        | https://graph.facebook.com/cowholio4/picture?
        strong ="type=large"
      img.max-w-full.h-auto.mx-auto src="https://graph.facebook.com/cowholio4/picture?type=large"
section.mt-5
  .grid.grid-cols-1.sm:grid-cols-2.gap-4
    .card.bg-base-100.shadow-sm
      .card-body.text-center
        h2.card-title.justify-center Specific Width (40px)
        p
          | https://graph.facebook.com/cowholio4/picture?
          strong ="width=40"
        img.max-w-full.h-auto.mx-auto src="https://graph.facebook.com/cowholio4/picture?width=40"
    .card.bg-base-100.shadow-sm
      .card-body.text-center
        h2.card-title.justify-center Specific Height and Width (100px x 50px)
        p
          | https://graph.facebook.com/cowholio4/picture?
          strong ="height=100&width=50"
        img.max-w-full.h-auto.mx-auto src="https://graph.facebook.com/cowholio4/picture?height=100&width=50"


blockquote.border-l-4.border-base-300.pl-4.italic.mt-5
  p
    | In many cases, when displaying Facebook profile pictures, the image needs to fit into a specifically allotted space within the UI. Resizing and scaling the image can be a cumbersome process, often resulting in sub-optimal image quality.
	p
    | This week, we released updates to our APIs to allow you to retrieve user's profile pictures in varying sizes. Alternate profile picture sizes can be queried via the Graph API and FQL.
	p To retrieve a profile picture in an alternate size via the Graph API, add the optional width and height fields as URL parameters:
	p https://graph.facebook.com/1207059/picture?width=121&height=100
	p This will return a HTTP 302 redirect to a profile picture with a minimum size of 121x100 while trying to preserve the aspect ratio. You can add the URL parameterredirect=false to retrieve just the URL to the pciture. If width=height then a square picture will always be returned.
	p You can also query for profile pictures of varying size using FQL:
	ul.list-none.pl-0
		li SELECT url, real_width, real_height
		li FROM profile_pic
		li WHERE id=me()
		li AND width=121
		li AND height=100
	p Please see documentation for the Graph API User and Page objects, and the profile_pic for more information.
  footer.not-italic.text-sm.text-base-content/70.mt-2
    cite
       a href="https://developers.facebook.com/blog/post/2012/08/22/platform-updates--operation-developer-love/" Facebook Blog
