---
title: pmtools a handy set of Perl module specific command line tools
author: Jason Pope
date: 2012-08-31 12:22 PST
category: Development
archived: true
description: "FB"
---
p I recently discovered a very useful set of Perl command line tools. I hope you find these as useful as I have.

dl class="grid grid-cols-[8rem_1fr] gap-x-4 gap-y-1"
  dt.font-semibold pmall
  dd show all installed versions and descs

  dt.font-semibold pman
  dd show a module's man page
  dt.font-semibold pmcat
  dd page through a module file
  dt.font-semibold pmdesc
  dd print out version and whatis description of perl modules
  dt.font-semibold pmdirs
  dd print out module directories
  dt.font-semibold pmeth
  dd show a Perl class's methods
  dt.font-semibold pmexp
  dd show a module's exports
  dt.font-semibold pmfunc
  dd cat out a function from a module
  dt.font-semibold pminst
  dd find modules whose names match this pattern
  dt.font-semibold pmload
  dd show what files a given module loads at compile time
  dt.font-semibold pmls
  dd long list the module path
  dt.font-semibold pmpath
  dd show full path to a perl module
  dt.font-semibold pmvers
  dd print out a module's version
  dt.font-semibold podgrep
  dd grep in pod sections only
  dt.font-semibold podpath
  dd print the path to the pod
  dt.font-semibold pods
  dd print out all pod paths
  dt.font-semibold podtoc
  dd show outline of pods

p.mt-5 More info:

ul.list-none.pl-0
  li CPAN: https://metacpan.org/release/pmtools
  li Debian/Ubuntu: aptitude install pmtools
  li RPM: peeps: yum install pmtools
