---
page_title: "Music - Jon Ong"
---
div class="max-w-[1200px] mx-auto px-[30px]"
  section.mt-16.mb-24
    h1 class="flex items-center gap-[10px] text-[35px] font-bold tracking-[3px]"
      span class="inline-block w-[50px] h-[2px] bg-primary shrink-0"
      | Music
    .mt-8
      iframe src="https://play.reelcrafter.com/embed/4ce85758-101c-40fe-bfd9-751e8cb55aca" width="100%" height="590" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=true title="Jon Ong reel"
